<section id="projects" class="project-section">
    <h1 class="section-title">Projects</h1>
    <div class="projects">
      @for (project of visibleProjects; track $index) {
      <div class="project-card">
        <div>
          <img
            [src]="project.screenshot"
            [alt]="project.title + ' screenshot'"
            height="100"
            width="150"
            class="project-img"
          />
        </div>
        <div class="project-info">
          <div class="project-title">{{ project.title }}</div>
          <div class="project-description">
            {{ project.description }}
          </div>
          <ul role="list" class="tech-list">
            @for (tech of project.techList; track $index) {
            <li>{{ tech }}</li>
            }
          </ul>
          <div class="project-links">
            @if (project.live) {
              <a [href]="project.live" target="_blank" class="project-link-btn">Live App 🚀</a>
            }
            @if (project.github) {
              <a [href]="project.github" target="_blank" class="project-link-btn github-btn">GitHub Code 💻</a>
            }
          </div>
        </div>
      </div>
      }
    </div>
    @if (projects.length>visibleProjects.length) {
    <div
      class="more"
      (click)="showMoreProjects()"
      (keypress)="showMoreProjects()"
      tabindex="0"
    >
      more...
    </div>
    }
  </section>