<section id="about">
    <div>
        <h1 class="section-main-title">About ME</h1>
    </div>
    <div class="section-main-content">
        <p>Here you will find more information about me, what I do, and my current skills mostly in terms of programming
            and
            technology</p>
    </div>
    <div class="about-section">
        <div class="about-text">
            <h1 class="section-title">Who I am</h1>
            <p>
                <span style="font-size: 2rem">👋</span> Hi, I'm Pravin, a
                <span>full stack software engineer</span>. My story with web development
                started long back in 2014 when I tried to build a simple website<span
                    style="font-size: 1.25rem">💻</span>
                using HTML and CSS, see it come to life on a screen was exciting and
                ignited my passion for coding.
            </p>
            <p>
                Inspired by the endless possibilities of technology, I decided to dive
                deeper into computer engineering
                <span style="font-size: 1.5rem">🎓</span> in 2016, during engineering I
                learnt android and
                <span>built multiple <span style="font-size: 1.5rem">📱</span>android
                    applications</span>
                as my side interest even freelanced few projects.
            </p>
            <p>
                After completing my graduation, I joined
                <span><a href="https://www.slb.com" target="_blank" class="hyperlink">SLB <span
                            style="font-size: 1.25rem">🏢</span></a></span>
                in 2020 where I got opportunity to explore web development. I developed my
                expertise in
                <span> Angular, JavaScript, TypeScript, .NET Core </span><span
                    style="font-size: 1.25rem">👨🏻‍💻</span>which I used to contribute in
                our project in SLB.
            </p>
        </div>
        <div class="about-text">
            <h1 class="section-title">My Skills</h1>
            <div class="flex flex-wrap justify-start gap-1.5 sm:gap-2.5 md:gap-3 ">
                <div>
                    <div class="flex flex-col min-w-20 items-center p-2 bg-white rounded-lg shadow">
                        <img src="/assets/html5-original-wordmark.svg" alt="HTML" width="30" height="30">
                        <span class="mt-2 text-sm">HTML</span>
                    </div>
                </div>
                <div>
                    <div class="flex flex-col min-w-20 items-center p-2 bg-white rounded-lg shadow">
                        <img src="/assets/css3-original-wordmark.svg" alt="HTML" width="30" height="30">
                        <span class="mt-2 text-sm">CSS</span>
                    </div>
                </div>
                <div>
                    <div class="flex flex-col min-w-20 items-center p-2 bg-white rounded-lg shadow">
                        <img src="/assets/javascript-original.svg" alt="HTML" width="30" height="30">
                        <span class="mt-2 text-sm">JavaScript</span>
                    </div>
                </div>
                <div>
                    <div class="flex flex-col min-w-20 items-center p-2 bg-white rounded-lg shadow">
                        <img src="/assets/typescript.svg" alt="HTML" width="30" height="30">
                        <span class="mt-2 text-sm">TypeScript</span>
                    </div>
                </div>
                <div>
                    <div class="flex flex-col min-w-20 items-center p-2 bg-white rounded-lg shadow">
                        <img src="/assets/angular17.svg" alt="HTML" width="30" height="30">
                        <span class="mt-2 text-sm">Angular 18</span>
                    </div>
                </div>
                <div>
                    <div class="flex flex-col min-w-20 items-center p-2 bg-white rounded-lg shadow">
                        <img src="/assets/Logo_C_sharp.svg" alt="HTML" width="30" height="30">
                        <span class="mt-2 text-sm">C#</span>
                    </div>
                </div>
                <div>
                    <div class="flex flex-col min-w-20 items-center p-2 bg-white rounded-lg shadow">
                        <img src="/assets/Microsoft_.NET_logo.svg" alt="HTML" width="30" height="30">
                        <span class="mt-2 text-sm">MVC</span>
                    </div>
                </div>
                <div>
                    <div class="flex flex-col min-w-20 items-center p-2 bg-white rounded-lg shadow">
                        <img src="/assets/netcore.svg" alt="HTML" width="30" height="30">
                        <span class="mt-2 text-sm">.Net Core</span>
                    </div>
                </div>
                <div>
                    <div class="flex flex-col min-w-20 items-center p-2 bg-white rounded-lg shadow">
                        <img src="/assets/Apache-Cassandra.svg" alt="HTML" width="30" height="30">
                        <span class="mt-2 text-sm">Cassandra</span>
                    </div>
                </div>
                <div>
                    <div class="flex flex-col min-w-20 items-center p-2 bg-white rounded-lg shadow">
                        <img src="/assets/azure-pipelines.svg" alt="HTML" width="30" height="30">
                        <span class="mt-2 text-sm">CI/CD</span>
                    </div>
                </div>
                <div>
                    <div class="flex flex-col min-w-20 items-center p-2 bg-white rounded-lg shadow">
                        <img src="/assets/git-scm-icon.svg" alt="HTML" width="30" height="30">
                        <span class="mt-2 text-sm">Git</span>
                    </div>
                </div>
                <div>
                    <div class="flex flex-col min-w-20 items-center p-2 bg-white rounded-lg shadow">
                        <img src="/assets/getpostman-icon.svg" alt="HTML" width="30" height="30">
                        <span class="mt-2 text-sm">Postman</span>
                    </div>
                </div>
                <div>
                    <div class="flex flex-col min-w-20 items-center p-2 bg-white rounded-lg shadow">
                        <img src="/assets/vscode-original.svg" alt="HTML" width="30" height="30">
                        <span class="mt-2 text-sm">VS Code</span>
                    </div>
                </div>
                <div>
                    <div class="flex flex-col min-w-20 items-center p-2 bg-white rounded-lg shadow">
                        <img src="/assets/Visual_Studio_Icon_2019.svg" alt="HTML" width="30" height="30">
                        <span class="mt-2 text-sm">VS 2022</span>
                    </div>
                </div>
                <!-- <img
            ngSrc="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg"
            width="50"
            height="50"
            ngSrcset="100w, 200w, 300w"
            alt="about image"
            priority
          /><span>HTML</span> -->
            </div>
        </div>
    </div>
</section>