@import "../../../../styles.scss";
@import "../../../../styles/variables.scss";

.sticky-header {
  flex-grow: 1;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 0 2rem;
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1),
    transform 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  -webkit-backdrop-filter: blur(3rem);
  backdrop-filter: blur(3rem);
  transition-delay: 100ms;
  box-shadow: 0px 0px 20px 0px $clr-header-shadow;
}

.fade-up {
  opacity: 0.01;
  transform: translateY(-20px);
}

.header-container {
  display: flex;
  flex-flow: row nowrap;
}

.desktop-navbar {
  flex-grow: 1;
  margin: 1.5rem 0;
}

.hide-header {
  transform: translateY(-5rem);
}

.only-mobile-visible {
  display: none;
}

.header-span {
  flex-grow: 1;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.mode-toggle {
  margin: 1rem;
}

.mobile-nav-icon {
  cursor: pointer;
}

.header-span a {
  display: contents;
}

@media (max-width: 800px) {
  .header-span {
    justify-content: space-between;
  }
  .desktop-navbar {
    display: none;
  }

  .only-mobile-visible {
    display: block;
  }

  .mobile-navbar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 8;
  }

  .logo {
    height: 50px;
    width: 50px;
  }
}
