<section class="hero-section">
    <div class="hero-content">
        <h1 class="p1 animate" [ngClass]="{ 'fade-up': isLoading() }">
            Hi, my name is
        </h1>
        <span class="name-holder">
            <h1 class="gradient t1 animate" [ngClass]="{ 'fade-up': isLoading() }">
                Shafiq
            </h1>
            <h1 class="gradient t2 animate" [ngClass]="{ 'fade-up': isLoading() }">
                Ahamed.
            </h1>
        </span>
        <p class="title-statement animate" [ngClass]="{ 'fade-up': isLoading() }">
            I am a <span class="job-title">Senior software developer</span> 
            building full-stack apps, and I spend most of my programming time working on backends (.net) and frontend UI with Angular, 
            currently working at
            <a href="https://www.ey.com/en_in" target="_blank">EY</a>.
        </p>
        <app-social-links class="social-media-links animate" [ngClass]="{ 'fade-up': isLoading() }"></app-social-links>

    </div>

    <div class="hero-image-holder animate" [ngClass]="{ 'fade-up': isLoading() }">
        <img
          ngSrc="./assets/hero_image.svg"
          width="250"
          height="250"
          class="hero-image"
          ngSrcset="100w, 200w, 300w"
          alt="hero image"
          priority
        />
      </div>
</section>