@import "../../../../styles.scss";

.contact-section {
  min-height: 100vh;
  padding: 4rem 1rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 4rem;
  justify-content: center;
  animation: fade-in ease-in-out;
  animation-timeline: view();
  animation-range-start: cover;
  animation-range-end: contain;
}

@keyframes fade-in {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 4rem;
  box-shadow: $clr-card-shadow 1px 12px 29px 0px;
}

.contact-information {
  background: linear-gradient(
    120deg,
    $clr-secondary-300 0%,
    $clr-primary-400 100%
  );
  color: white;
  min-width: 20rem;
  padding: 1rem;
  padding-left: 2rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  flex-grow: 1;
}

.contact-items {
  flex-flow: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.send-message {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  padding: 2rem 4rem;
  background: rgb(128 128 128 / 10%);
}

.contact-title {
  font-size: 1.5rem;
  margin: 1rem 0rem 2rem;
}

.contact-items > a {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 2rem;
  color: unset;
  text-decoration: unset;
}

.contact-description {
  margin-bottom: 4rem;
}

.contact-form {
  background: white;
  min-width: 30rem;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}
.contact-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #f9f9f9;
  font-size: 16px;
  color: #333;
}
.contact-form textarea {
  resize: vertical;
  height: 150px;
}
.contact-form button {
  width: 100%;
  padding: 15px;
  background: $clr-secondary-300;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.contact-form button:hover {
  background: $clr-secondary-500;
}

.contact-form button:disabled {
  opacity: 0.5;
  background: $clr-secondary-300;
  cursor: default;
}

.error-container {
  margin-top: -1rem;
  margin-bottom: 0.25rem;
}

.error {
  color: red;
  font-size: 0.75rem;
}

.contact-item {
  line-break: anywhere;
}

@media (max-width: 900px) {
  .contact-section {
    gap: 2rem;
    margin: 0 2rem;
  }

  .card-container {
    flex-flow: column nowrap;
    margin: 0;
  }

  .send-message {
    padding: 1rem;
  }
}

@media (max-width: 480px) {
  .contact-card {
    flex-direction: column;
    gap: 1rem;
  }

  .contact-section {
    margin: 0;
    animation-range-start: -50%;
  }

  .send-message {
    padding: 0;
  }

  .card-container {
    gap: 1rem;
    margin: 0;
  }

  .contact-form {
    min-width: auto;
  }

  .contact-information {
    padding: 2rem;
  }

  .contact-items > a {
    flex-flow: column nowrap;
  }
}
