@import "../../../styles.scss";

section {
  padding: 4rem 1rem;
}

.section-main-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 500;
  text-decoration: underline;
  background: linear-gradient($clr-primary-500, $clr-secondary-600);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section-main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
}

.section-main-content p {
  max-width: 35rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 900;
}

.experience-section {
  padding: 1rem 1rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 3rem;
  margin: 0 4rem;
  animation-timeline: view();
  animation-range-start: cover;
  animation-range-end: contain;
}

@keyframes fade-in {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

.experience-card {
  display: flex;
  flex-flow: row nowrap;
  gap: 2rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: $clr-card-shadow 1px 12px 29px 0px;
  border: 2px solid var(--clr-secondary-400);
}

.experience-info {
  max-width: 40rem;
}

.role-title {
  font-weight: 500;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.role-description {
  margin-bottom: 1rem;
}

.tech-list {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;

  li {
    font-size: 0.75rem;
    font-weight: 500;
    padding: 0.25rem 0.5rem;
    border-radius: 2rem;
    background-color: rgb(0 88 247 / 18%);
    color: $clr-primary-500;
  }
}

.experience-text {
  max-width: 600px;
}

p {
  font-size: 1rem;

  span {
    color: $clr-primary-500;
    font-size: 1.0625rem; //625
  }
}

.hyperlink {
  text-decoration-color: rgba(255, 255, 255, 0);
  transition: text-decoration-color 300ms ease-in-out;
}

.hyperlink:hover {
  text-decoration-color: $clr-primary-500;
}

@media (max-width: 900px) {
  .experience-section {
    gap: 2rem;
    margin: 0 2rem;
  }
}

@media (max-width: 480px) {
  .experience-card {
    flex-direction: column;
    gap: 1rem;
  }

  .experience-section {
    margin: 0;
    animation-range-start: -50%;
  }
}
