<section id="experience">
    <div>
        <h1 class="section-main-title">My Work Experience</h1>
    </div>
    <div class="section-main-content">
        <p>Total Years of Experience 7.5</p>
    </div>
    <div class="experience-section">
        <div class="experience-card">
            <div>
                <div class="timeline">2022 — Present</div>
                <img src="./assets/EY_Logo_Beam_Tag_Stacked_RGB_EN.png" height="166px" width="111PX">
            </div>
            <div class="experience-info">
                <div class="role-title">Full Stack Developer &#64; Ernst & Young
                    <div class="tech-list">                        
                        <p>Client: Dell Technologies</p>
                    </div>
                </div>                
                <div class="role-description">
                    <ul>
                        <li>
                            <p>Developing an E-commerce product web applications in the Micro Frontend (MFE)
                                architecture design
                                approach to subscribe the application into various product teams.</p>
                        </li>
                        <li>
                            <p>Extensive working experience in integrating the Kafka into .net core for message
                                streaming and
                                consume the various topics and very good working knowledge on control center and Kafka
                                monitoring.</p>
                        </li>
                        <li>
                            <p>Experience with querying on data present in Cassandra Clusters using CQL (Cassandra Query
                                Language).</p>
                        </li>
                        <li>
                            <p>Used Razor View Engine to develop the views components and implement the logic to
                                transfer the data between views and models.</p>
                        </li>
                    </ul>
                </div>
                <ul role="list" class="tech-list">
                    <li>C#</li>
                    <li>.NET Core</li>
                    <li>Kafka</li>                    
                    <li>JQuery</li>
                    <li>Cassandra</li>
                </ul>
            </div>
        </div>
        <div class="experience-card">
            <div>
                <div class="timeline">2021 — 2022</div>
                <img src="./assets/vecteezy_infosys-transparent-png-infosys-free-png_19909491.png" height="166px"
                    width="111PX">
            </div>
            <div class="experience-info">
                <div class="role-title">Full Stack Developer &#64; Infosys
                    <div class="tech-list">                        
                        <p>Client: SRS (Switching Request System)</p>
                    </div>
                </div> 
                <div class="role-description">
                    <ul>
                        <li>
                            <p>Developed responsive web applications with Angular. Contributed in application component
                                restructuring for improving performance
                                with dynamic data fetch.</p>
                        </li>
                        <li>
                            <p>Working with Angular 6/12 modules, lazy load, services, Http interceptor,
                                angular material, directives, and dependency injection to create a SPA.</p>
                        </li>
                        <li>
                            <p>Developed complex UI designs with API integrations and utilized RxJS for effective data stream management in the project.</p>
                        </li>
                        <li>
                            <p>Implemented JWT authentication secure API and provide authorization to users.</p>
                        </li>
                        <li>
                            <p>Code merge activity different branches in azure repos. Build and deploy the code to DEV, QA, UAT and PROD environments through Azure CI /CD Pipeline.</p>
                        </li>
                    </ul>
                </div>
                <ul role="list" class="tech-list">
                    <li>.NET Core Web API</li>
                    <li>TypeScript</li>
                    <li>Angular</li>
                    <li>Ado.Net</li>
                    <li>SQL</li>
                    <li>Azure Devops</li>
                </ul>
            </div>
        </div>
        <div class="experience-card">
            <div>
                <div class="timeline">2017 — 2021</div>
                <img src="./assets/HCLTech-thumbnail.png" height="166px" width="111PX">
            </div>
            <div class="experience-info">
                <div class="role-title">Full Stack Developer &#64; HCL Tech
                    <div class="tech-list">                        
                        <p>Client: WBG (World Bank Group)</p>
                    </div>
                </div> 
                <div class="role-description">
                    <ul>
                        <li>
                            <p>Hands on experience in design using OOP and design patterns like MVC. Developed responsive web applications with Angular</p>
                        </li>
                        <li>
                            <p>Worked with WEB APIs to create the services and make calls to the services using URLs, which would perform Action Verbs operations on the server and Angular HTTP service calls and bind the data into HTML. Utilized Lazy Load Components to decrease load time.</p>
                        </li>
                        <li>
                            <p>Used MVC bundling to improve the application performance.</p>
                        </li>
                    </ul>
                </div>
                <ul role="list" class="tech-list">
                    <li>C#</li>
                    <li>MVC .NET Core</li>
                    <li>TypeScript</li>
                    <li>Angular</li>      
                    <li>Azure Devops</li>
                </ul>
            </div>
        </div>
    </div>
</section>